
* {
    margin: 0;
    box-sizing: border-box;
  }

  .planet-conteiner{
    flex-direction: column;
    display: inline-block;
  background-color: none;
  border: solid 1px pink;
  width: 98vw;
  height: 10vh;
  overflow: hidden;
  }
  .general-container{
    flex-direction: column;
    display: inline-block;
  background-color: none;
  border: solid 1px red;
  width: 90vw;
  height: 78vh;
  overflow: hidden;
  }
  .characters-conteiner {
      flex-direction: row;
      display: inline-block;
    background-color: none;
    border: solid 1px red;
    width: 34vw;
    height: 80vh;
    overflow: hidden;
  }
  .summarize-conteiner {
    flex-direction: row;
    display: inline-block;
  background-color: none;
  border: solid 1px red;
  width: 30vw;
  height: 80vh;
  overflow: hidden;
}
.choosen-fighter-conteiner {
  background-color: none;
  border: solid 1px red;
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  color: yellow;
}
.summarize-conteiner {
    flex-direction: row;
    display: inline-block;
  background-color: none;
  border: solid 1px red;
  width: 30vw;
  height: 80vh;
  overflow: hidden;
}
p{
    color: pink;
}
.button-start{
  display: inline-block;
  padding: 20px;
  background-color:   transparent;
  border: none;
  color: rgb(243,247,8);
  font-family: 'AudioWide';
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}
.button-start:hover{
  border: none;
  padding:  20px 10% ;
  font-family: 'AudioWide';
  font-size: 50px;
  text-decoration: none;
  border-radius: 10%;-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.div-bottom{
  align-self:flex-end;
}