<div class="planet-conteiner " align="left">
  <p>
    <app-characters></app-characters>
  </p>
</div>

<div class="general-container  " align="left">

  <div class="characters-conteiner " align="left">

    <p>
      <app-characters></app-characters>
    </p>

  </div>

  <div class="summarize-conteiner" align="center">

    <div class="choosen-fighter-conteiner " align="center">
        <p>
            <app-characters></app-characters>
          </p>
    </div>
    <div class="button-conteiner " align="center">

      <button class="button-start">fight</button>
    </div>



    <div class="choosen-fighter-conteiner " align="center">
      <p>
        <app-characters></app-characters>
      </p>
    </div>
  </div>

  <div class="characters-conteiner " align="right">
    <p>
      <app-characters></app-characters>
    </p>
  </div>



</div>
<!--


-->