<div class="planet-conteiner " align="left">
  <p>
    <app-planets></app-planets>
  </p>
</div>

<div class="general-conteiner " align="left">

  <div class="characters-conteiner " align="left">
    <p>
      <app-characters></app-characters>
    </p>
  </div>

  <div class="summarize-conteiner " align="center">
    <div class="choosen-fighter-conteiner " align="center">
      

    </div>

    <button class="button-start">fight</button>

      <div class="choosen-fighter-conteiner "  align="center">
      </div>
    </div>

  <div class="characters-conteiner " align="right">
    <p>
      <app-characters></app-characters>
    </p>
  </div>
</div>